.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    border-bottom: .5px solid rgba(128, 128, 128, 0.49);
    .left{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .bigText{
            font-size: 1.5rem;
        }
    }

    .right{
        button{
            border: 0.5px solid rgba(128, 128, 128, 0.503);
            outline: none;
            height: 5%;
            width: 100%;
            border-radius: 10px;
        }
    }
}

.mainSection{
    width: 100%;
    height: 100%;
    display: flex;
    .leftMain{
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
        border-right: .5px solid rgba(128, 128, 128, 0.49);
        .categories{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    .rightMain{
        width: 90%;
        height: 100%;
    }
}
.inventory{
    width: 100%;
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 10px;
    .inventoryInfo{
        width: 300px;
        height: 200px;
        border: .5px solid rgba(128, 128, 128, 0.374);
        display: flex;
        flex-direction: column;
       cursor: pointer;
        .top{
            width: 100%;
            height: 80%;
            border-bottom: .2px solid rgba(128, 128, 128, 0.285);
            .left{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                span{
                    font-size: 1.1rem;
                }
                img{
                    width: 50%;
                }
            }
            .right{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
            }
        }
       
        .bottom{
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.addInventory{
    position: absolute;
    bottom: 20px;
    right: 10px;
    border: none;
    outline: none;
    height: 4%;
    width: 10%;
    background: linear-gradient(90deg, #004D4F, #138E91);
    border-radius: 10px;
    color: white;
}