<div class="wrapper">
    <div class="left">
        <img class="logo" src="assets/logo2.png" alt="">
        <img class="loginimg" src="assets/login.png" alt="">
    </div>
    <div class="right"> 
        <div class="logincontainer">
            <span class="heading">Admin Login</span>
        
            
            <form class="loginform" action="" [formGroup]="loginform">
                <input type="text" placeholder="Enter Email" formControlName="email">
              
                <!-- Password field with eye icon -->
                <div style="position: relative; display: flex; align-items: center;">
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    placeholder="Enter Password"
                    formControlName="password"
                    style="flex: 1;"
                  >
                  <span
                    (click)="togglePasswordVisibility()"
                    style="position: absolute; right: 10px; cursor: pointer;"
                  >
                    <i class="eye-icon">{{ passwordVisible ? '🙈' : '👁️' }}</i> <!-- Replace with actual icon -->
                  </span>
                </div>
              
                <span style="position: relative; left: 80%; cursor: pointer;" (click)="forgot()">Forgot Password?</span>
                <button class="button" name="button" (click)="login()">Login</button>
              </form>
              
            
        </div>

    </div>
    
</div>
