<div class="wrapper">
   <!--  <div class="info">Dashboard</div> -->
   <div class="header1">
    
    <div class="mainheader">
        <i class="material-icons date-icon">calendar_today</i>
        <span>Date Range</span>
        <span class="exclamation-icon">!!!</span>
        <span>Priority</span>
        <i class="material-icons">view_list</i>
        <span>Tasklist</span>
        <i class="material-icons">account_circle</i>
        <span>Members</span>
    </div>
    
</div>
<!-- 
<div class="divider-line"></div> -->

    <div class="mainWrapper">
        <div class="leftSection mt-4">
            <div class="statistics">
                <div class="top">
                    <span>Task Metrics</span>
                </div>
                <div class="main">
                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>


                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>
                </div>
            </div>


            <div class="statistics">
                <div class="top">
                    <span>Ongoing Tasks</span>
                </div>
                <div class="main">
                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="rightSection">
            <div class="statistics">
                <div class="top">
                    <span>Performance Metrics</span>
                </div>
                <div class="main">
                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                </div>
            </div>
         
     
            <img src="assets/dashicon.png" alt="">
        </div>
    </div>
   
</div>