

<div class="header">
    <div class="leftSection">
        <img src="assets/logo2.png" alt="">
        <span style="font-weight: 600; color: #000;">Manager Dashboard</span>
        <span (click)="inventory()" [ngClass]="{'active': isRouteActive('/inventory')}">Inventory</span>
        <span>Marketing</span>
        <span>TaskList</span>
        <span (click)="team()" [ngClass]="{'active': isRouteActive('teams')}">Teams & Member</span>
    </div>
    <div class="rightSection">
        <i class="material-icons">message</i>
        <i class="material-icons">notifications</i>
        <div class="border">
            <i class="material-icons">menu</i>
            <i class="material-icons">person</i>
        </div>
    </div>
</div>

<router-outlet></router-outlet>





<!-- <div class="wrapper">
    <div class="leftsection">
        <img class="logoclass" src="assets/logo2.png"alt="">
        <div class="manu">
            <span class="nav"><b>Manager Dashboard</b></span>
            <span>Inventory</span>
            <span>Marketing</span>
            <span>Tasklist</span>
            <span>Teams & Members</span>
        </div>
    </div>
    
    <div class="rightsection">
         <img src="assets/Outlined.png" alt="">
            <img src="assets/Vector.png" alt="">
            <img src="assets/menu.png" alt="">
            <img src="assets/personicon.png" alt="">
        
    </div>
</div>
<div class="divider-line"></div>
 -->