.header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #EEF1F5;
    position: sticky;
    top: 0;
    background: white;
    z-index: 9;
}
.leftSection{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    font-family: "Expletus Sans", sans-serif;
    font-size: 1.1rem;
    color: #B7B7B7;
    margin-left: 2%;
    span:hover{
        cursor: pointer;
    }
    img{
        width: 10%;
    }
}

.rightSection{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin-right: 2%;
    i:hover{
        cursor: pointer;
    }
}

.border{
    border: 1px solid #EEF1F5 !important;
    border-radius: 50px;
    padding: 10px 17px;
}
.active{
    font-weight: 700;
    color: black;
}
.profile {
    position: absolute;
    width: 11%;
    height: 25%;
    z-index: 999;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 1, 0.175),
        /* Horizontal glow */
        0 0 20px rgba(53, 53, 54, 0.151);
    right: -200px; /* Start off-screen */
    top: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 25px;
    gap: 20px;
    padding-top: 20px;
    transition: right 2.5s ease; /* Add transition for the 'right' property */
}

.profile.profile-slide-in {
    right: 34px; /* The target position when the div slides in */
}

.profile span:hover {
    cursor: pointer;
}
.active{
    font-weight: 700;
    color: black;
}

.message{
    position: relative;
    .newMessage{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: red;
        top: 0px;
        right: 0px;
    }
}