<div class="wrapper">
    <!--  <div class="info">Dashboard</div> -->
    <div class="header1">

        <div class="mainheader">
            <i class="material-icons date-icon">calendar_today</i>
            <span>Date Range</span>
            <span class="exclamation-icon">!!!</span>
            <span>Priority</span>
            <i class="material-icons">view_list</i>
            <span>Tasklist</span>
            <i class="material-icons">account_circle</i>
            <span>Members</span>
        </div>

    </div>


    <div class="mainWrapper">
        <div class="leftSection mt-4">
            <div class="statistics">
                <div class="top">
                    <span>Task Metrics</span>
                </div>
                <div class="main">
                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>


                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightSection">
            <div class="statistics">
                <div class="top">
                    <span>Performance Metrics</span>
                </div>
                <div class="main">
                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                </div>
            </div>


            <!--  <img src="assets/dashicon.png" alt=""> -->
        </div>

        
    </div>
    <div class="bottomSection">
        <div class="top">
            <span>Task Metrics</span>
        </div>
       <div class="bottomname">
            
        <div class="row" style="height: 100%;">
            <div class="col-4">
                <div class="taskOpenSection">
                   
                    <span style="font-size: 1rem;">  <img src="assets/round.png" alt="">Open(2)</span>
                    <div class="open">
                       <div class="top">
                        <div class="openLeft">
                            <span style="font-size: 1rem;">Task Name</span>
                            <span style="font-size: 1rem;">March 22 2023</span>
                        </div>
                        <div class="openRight">
                            <i class="fa-solid fa-play icon"></i>
                            <span style="font-size: .8rem;">50:00</span>
                        </div>
                       </div>
                        
                        <div class="openBotton">
                            <span></span>
                            0%
                        </div>
                    </div>

                    <div class="open">
                        <div class="top">
                         <div class="openLeft">
                             <span style="font-size: 1rem;">Task Name</span>
                             <span style="font-size: 1rem;">March 22 2023</span>
                         </div>
                         <div class="openRight">
                             <i class="fa-solid fa-play icon"></i>
                             <span style="font-size: .8rem;">50:00</span>
                         </div>
                        </div>
                         
                         <div class="openBotton">
                             <span></span>
                             0%
                         </div>
                     </div>
                    
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>

       </div>
    </div>

</div>