<div class="header">
    <div class="leftSection">
        <img src="assets/logo2.png" alt="">
        <span style="font-weight: 600; color: #000;">Owner Dashboard</span>
        <span>Inventory</span>
        <span>Marketing</span>
        <span (click)="taskList()">TaskList</span>
        <span (click)="teamsmember()" >Teams & Member</span>
    </div>
    <div class="rightSection">
        <i class="material-icons">message</i>
        <i class="material-icons">notifications</i>
        <div class="border">
            <i class="material-icons">menu</i>
            <i class="material-icons">person</i>
        </div>
    </div>
</div>

<router-outlet></router-outlet>