<div class="header">
    <div class="leftSection">
        <img src="assets/logo2.png" alt="">
        <span (click)="dashboard()" [ngClass]="{'active': isRouteActive('/dashboard')}" style="font-weight: 600; color: #000;">Owner Dashboard</span>
        <span (click)="inventory()" [ngClass]="{'active': isRouteActive('/inventory')}">Inventory</span>
        <span (click)="marketing()" [ngClass]="{'active': isRouteActive('/marketing')}">Marketing</span>
        <span (click)="taskList()" [ngClass]="{'active': isRouteActive('/tasks')}">TaskList</span>
        <span (click)="teamsmember()"  [ngClass]="{'active': isRouteActive('/team-member')}">Teams & Member</span>
    </div>
    <div class="rightSection">
        <div class="message"><span *ngIf="showMsgIcon" class="newMessage"></span><i class="material-icons" (click)="message()">message</i></div>
        <i class="material-icons">notifications</i>
        <div class="border" (click)="toggleProfile()">
            <i class="material-icons">menu</i>
            <i class="material-icons">person</i>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<div class="profile" *ngIf="profile" [ngClass]="{'profile-slide-in': profile}">
    <span (click)="profileInfo()" ><i class="fas fa-user"></i> &nbsp;Profile</span>
    <span (click)="report()"><i class="fas fa-exclamation-triangle"  style="color: red;"></i> &nbsp;Report Issue</span>

    <span (click)="logout()"><i class="fas fa-sign-out-alt"></i> &nbsp;Logout</span>
</div>