
<div class="wrapper">
   
    <div class="leftsection">
        <img class="logo" src="assets/logo2.png" alt="">
        <img class="forgot" src="assets/signup.png" alt="">
    </div>

    <div class="rightsection">
        <div class="formContainer">

        <span>Create Profile</span>
        <span style="font-family: 'Expletus Sans', sans-serif;">Please fill out the following information</span>

            <form class="form1" [formGroup]="signUpFormGroup" (ngSubmit)="signUp(signUpFormGroup.value)">
                <div class="row">
                    <div class="col-12">
                        <span style="font-family:Roboto;">Personal Information</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <input class="input-text" type="text" name="username" formControlName="username" placeholder="User Name">
                    </div>
                    <div class="col-6">
                        <input class="input-text" type="text" name="password" formControlName="password" placeholder="Password">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <input class="input-text" type="text" name="email" formControlName="email" placeholder="Email">
                    </div>
                    <div class="col-6">
                        <input class="input-text" type="text" name="phone_no" formControlName="phone_no" placeholder="Phone No">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <input class="input-text" type="text" name="gender" formControlName="gender" placeholder="Gender">
                    </div>
                    <div class="col-6">
                        <input class="input-text" type="text" name="dob" formControlName="dob" placeholder="Dob">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input class="input-text" type="text" name="address" formControlName="address" placeholder="Address">
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-12">
                        <span style="font-family:Roboto;">Business Information</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input class="input-text" type="text" name="organization_name" formControlName="organization_name" placeholder="Organization Name">
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-12">
                        <input class="input-text" type="text" name="organization_email" formControlName="organization_email" placeholder="Organization Email">
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-12">
                        <input class="input-text" type="text" name="organization_phone_no" formControlName="organization_phone_no" placeholder="Organization No">
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <input class="input-text" type="text" name="organization_address" formControlName="organization_address" placeholder="Organization Address">
                    </div>
                </div>


                
                <button class="button" type="submit">Create Profile</button>
           </form>
          

        </div>
       
    </div>
</div>