<!-- Add Tasks -->

<div class="addTask" *ngIf="add">
    <div class="topSection">
        <h5>Create Task</h5>
        <i class="fas fa-xmark" (click)="close()" style="cursor: pointer; color: gray;"></i>
    </div>
    <div class="mainSection">
        <form [formGroup]="addTask">
            <div class="mainSection">
                <div class="row">
                    <div class="col-12">
                        <label for="taskname">Task Name</label>
                        <input type="text" formControlName="taskName" class="inputtext" parentForm="addTask"
                            placeholder="Task Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="deadline">Deadline</label>
                        <input type="datetime-local" class="inputtext" placeholder="Deadline" formControlName="deadline"
                            parentForm="addTask" controlName="deadline">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>Select Member</mat-label>
                            <mat-select formControlName="userId">
                                <mat-option *ngFor="let members of orgMembers" [value]="members.userid">
                                    {{members.username}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>


            <button class="assign" (click)="createTask()">Assign</button>
        </form>
    </div>
</div>

<div class="mainContainer row">

    <div class="left col-2">
        <div class="task-container">
            <div class="task-header">Tasks</div>
            <div class="task-list">
                <div *ngFor="let task of tasks" class="task-item" [class.highlight]="selectedTask === task"
                    (click)="highlightTask(task)">
                    <span class="task-title">{{ task }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right col-10">
        <div class="row mt-2">
            <div class="col-12">
                <input type="text" placeholder="Search.."
                    style="width: 100%; border: none; outline: none; border-bottom: .3px solid rgba(128, 128, 128, 0.374);"
                    (input)="searchTasks($any($event.target).value)" />
            </div>
        </div>
        <div class="mainRight1">
            <mat-tab-group (selectedTabChange)="onTabChange($event)">
                <mat-tab label="My Tasks" >
                    <div class="mainRight"  *ngIf="allTask.length>0">
                        <div class="tasks" *ngFor="let task of allTask">
                            <div *ngIf="task.taskStatus=='Open'">
                                <img src="assets/round.png" alt=""> <span
                                    style="margin-left: 10px;">{{task.taskStatus}}</span>
                                <div class="actionBtn">
                                    <i class="fas fa-play" style="color: green; cursor: pointer;"
                                        (click)="startTask(task.taskId)"></i>
                                    <span style="color: red; cursor: pointer;" (click)="extend(task.taskId)">Extend
                                        Deadline</span>
                                </div>
                            </div>
    
                            <div *ngIf="task.taskStatus=='In Progress'">
                                <img src="assets/blueround.png" alt=""> <span
                                    style="margin-left: 10px;">{{task.taskStatus}}</span>
                                <div class="actionBtn">
                                    <i *ngIf="!task.progressStatus" class="fas fa-play"
                                        style="color: green;  cursor: pointer;" (click)="startTask(task.taskId)"></i>
                                    <i *ngIf="task.progressStatus" class="fas fa-pause"
                                        style="color: red;  cursor: pointer;" (click)="stoptask(task.taskId)"></i>
    
                                    <i class="fas fa-check" style="color: green;  cursor: pointer;"
                                        (click)="completetask(task.taskId)"></i>
                                    <span style="color: red; cursor: pointer;" (click)="extend(task.taskId)">Extend
                                        Deadline</span>
    
                                </div>
                            </div>
    
                            <div *ngIf="task.taskStatus=='Completed'">
                                <img src="assets/completeround.png" alt=""> <span
                                    style="margin-left: 10px;">{{task.taskStatus}}</span>
    
                            </div>
                            <div class="taskDetails">
                                <span> {{task.taskName}}</span>
                                <span>Deadline: {{ task.deadline | date: 'yyyy:dd:MM' }}</span>
                                <span>Assigned To: {{task?.userDetails.userName}}</span>
                                <span>Assigned By: {{task?.assignedBy.userName}}</span>
                            </div>
    
    
                        </div>
                    </div>
                

                    <div class="mainRight" *ngIf="allTask.length < 1"
                        style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%;">
                        <img src="assets/notask.png" alt="cannot" style="width: 50%; height: 60%;">
                    </div>
                </mat-tab>

                <mat-tab label="Request Status">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                      
                        <!-- Position Column -->
                        <ng-container matColumnDef="taskname">
                          <th mat-header-cell *matHeaderCellDef> Task Name </th>
                          <td mat-cell *matCellDef="let element"> {{element?.taskname}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="request_addedAt">
                          <th mat-header-cell *matHeaderCellDef> Request Added At </th>
                          <td mat-cell *matCellDef="let element"> {{element?.request_addedAt | date:'yyyy-MM-dd'}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="deadline">
                          <th mat-header-cell *matHeaderCellDef> Requested Deadline Date </th>
                          <td mat-cell *matCellDef="let element"> {{element?.deadline | date:'yyyy-MM-dd'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="task_deadline">
                            <th mat-header-cell *matHeaderCellDef> Deadline Of Task </th>
                            <td mat-cell *matCellDef="let element"> {{element?.task_deadline | date:'yyyy-MM-dd'}} </td>
                          </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef> Status </th>
                          <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
                           
                        
                        
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </mat-tab>
            </mat-tab-group>

        </div>


    </div>


</div>