<div class="wrapper">
    <div class="info">Dashboard</div>
    <div class="mainWrapper">
        <div class="leftSection mt-4">
            <div class="statistics">
                <div class="top">
                    <span>Statistics</span>
                    <mat-form-field class="dropdown">
                        <mat-label>Select</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let food of time" [value]="food.value">
                            {{food.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                </div>
                <div class="main">
                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>


                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>
                </div>
            </div>


            <div class="statistics">
                <div class="top">
                    <span>Deals</span>
                    <mat-form-field class="dropdown">
                        <mat-label>Select</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let food of time" [value]="food.value">
                            {{food.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="main">
                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>


                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>

                    <div class="container">
                        <span>Campaign Reach</span>
                        <span>0</span>
                        <span>Not started yet</span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="rightSection mt-4">
            <img src="assets/owner_dashboard1.png" alt="">
            <div class="text">
                <span>Stay Ahead of the Game: </span>
                <span>Effortlessly Monitor Your Tools and Insights for Optimal Success</span>
            </div>
     
            <img src="assets/owner_dashboard2.png" alt="">
        </div>
    </div>
   
</div>