
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.leftsection{
    width: 30%;
    height: 100%;
    background-color: #F8FBFB;

    .logo{
        width: 20%;
        position: relative;
        left: 10%;
        top: 5%;
    }
    .forgot{
        width: 90%;
    position: relative;
    left: 20%;
    top: 35%;

    }
}
.rightsection{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form1{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    input{
        height: 50%;
        border: 0.5px solid #E8ECF2;
        border-radius: 5px;
        outline: none; 
        padding-left: 10px;
    }
    .button{
        height: 50%;
        border: 0.5px solid #E8ECF2;
        border-radius: 5px;
        outline: none; 
        color: white;
        background: linear-gradient(90deg, #004D4F, #138E91);
    }
}
.remeber{
    height: 13%;
    border: 0.5px solid #E8ECF2;
    border-radius: 5px;
    outline: none; 
}
.formContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    height: 50%;
}
.formContainer span:nth-child(1){
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Expletus Sans', sans-serif;
    
}