<div class="wrapper">

    <div class="leftsection">
        <img class="logo" src="assets/logo2.png" alt="">
        <img class="forgot" src="assets/forgot.png" alt="">
    </div>
 <!-- forgot password -->
    <div class="rightsection">
        <div class="formContainer" *ngIf="step1">
            <span>Forgot Password</span>
            <span style="font-family:Roboto;">Enter the email you used to sign up to receive password reset
                instructions</span>

            <form class="form1" [formGroup]="forgotform" (ngSubmit)="forgot(forgotform.value)">
                <input type="text" name="email" formControlName="email" placeholder="Email">
                <button class="button" type="submit">Send</button>
            </form>
            <button class="remeber" type="button">Remember Password? Log In</button>

        </div>
<!-- Reset Password -->
        <div class="formContainer" *ngIf="step2">
            <span>Reset Password</span>
            <span style="font-family:Roboto;">Enter the OTP sent to your registered email to reset your password.</span>

            <form class="form1" [formGroup]="forgotform" (ngSubmit)="reset()">
                <input type="text" name="Otp" formControlName="otp" placeholder="Enter Otp">
                <button class="button" type="submit">Resend in 01:00</button>
            </form>
            <button class="remeber" type="button">Remember Password? Log In</button>
        </div>
<!-- Create Password -->
        <div class="formContainer" *ngIf="step3">
            <span>Create New Password</span>
            <span style="font-family:Roboto;">Create a new password for your account</span>
    
                <form class="form1" [formGroup]="forgotform" (ngSubmit)="confirm()">
                    <input type="text" name="Password" formControlName="password" placeholder="Enter Password">
                    <button class="button" type="submit">Confirm new password</button>
               </form>
               <button class="remeber" type="button">Remember Password? Log In</button>
    
            </div>
           
    </div>
</div>