
<div class="wrapper">
   
    <div class="leftsection">
        <img class="logo" src="assets/logo2.png" alt="">
        <img class="forgot" src="assets/forgot.png" alt="">
    </div>

    <div class="rightsection">
        <div class="formContainer">

        <span>Forgot Password</span>
        <span style="font-family:Roboto;">Enter the email you used to sign up to receive password reset instructions</span>

            <form class="form1" [formGroup]="forgotform" (ngSubmit)="forgot(forgotform.value)">
                <input type="text" name="email" formControlName="email" placeholder="Email">
                <button class="button" type="button">Send</button>
           </form>
           <button class="remeber" type="button">Remember Password? Log In</button>

        </div>
       
    </div>
</div>