.wrapper{
    width: 100%;
    height: 90vh;
    padding: 3%;
    .info{
        width: 100%;
        font-family: 'Expletus Sans', sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
    }
}
.leftSection{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .statistics{
        width: 100%;
        height: 45%;
        border-radius: 10px;
        border: 1.2px solid #F0F3F6;
        padding: 15px 35px;
        .top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0px;
            font-family: 'Expletus Sans', sans-serif;
            font-weight: bold;
            position: relative;
            span{
                font-size: 1.3rem;
            }
        }
        .main{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            font-family: 'Expletus Sans', sans-serif;
            font-weight: bold;
            gap: 30px;
            .container{
                background-color: rgba(0, 77, 79, 0.05);
                width: 25%;
                height: 60%;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                gap: 20px;
            }
            .container span:nth-child(1){
                font-weight: 600;
                font-size: 1.2rem;
            }

            .container span:nth-child(2){
                font-weight: 600;
                font-size: 1.2rem;
            }

            .container span:nth-child(3){
                color: #94A3B8;
            }
        }
    }
}

.rightSection{
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.rightSection img:nth-child(1){
    width: 70%;
}

.rightSection img:nth-child(2){
    width: 80%;
}

.mainWrapper{
    width: 100%;
    height: 100%;
    display: flex;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
.text{
    font-family: "Expletus Sans", sans-serif;
}
.dropdown{
    position: absolute;
    right: 5px;
    top: 5px;
}