<div class="header">
    <div class="leftSection">
        <img src="assets/logo2.png" alt="">
        <!-- <span style="font-weight: 600; color: #000;">Employee Dashboard</span>
        <span>Inventory</span>
        <span>TaskList</span>
        <span (click)="teams()">Teams & Members</span>-->
        <span  (click)="dashboard()"[ngClass]="{'active':isRouteActive('dashboard')}">Employee Dashboard</span>
            
        
          <!-- These elements can have 'active' class applied based on route -->
          <span (click)="inventory()" [ngClass]="{'active': isRouteActive('/inventory')}">Inventory</span>
          <span (click)="tasks()" [ngClass]="{'active': isRouteActive('/task')}">TaskList</span>
          <span (click)="teams()" [ngClass]="{'active': isRouteActive('teams')}">Teams & Members</span>
    </div>
    <div class="rightSection">
        <i class="material-icons">message</i>
        <i class="material-icons">notifications</i>
        <div class="border" (click)="toggleProfile()">
            <i class="material-icons">menu</i>
            <i class="material-icons">person</i>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<div class="profile" *ngIf="profile" [ngClass]="{'profile-slide-in': profile}">
    <span (click)="profileInfo()" ><i class="fas fa-user" ></i> &nbsp;Profile</span>
    <span (click)="report()"><i class="fas fa-exclamation-triangle"  style="color: red;"></i> &nbsp;Report Issue</span>
    <span (click)="logout()"><i class="fas fa-sign-out-alt"></i> &nbsp;Logout</span>
</div>